.summarydiv {
  border-style: solid;
  border-width: 2px;
  max-width: 580px;
  height: 200px;
  background-color: rgb(237, 171, 219);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-radius: 20px;
  /* position: relative; */
  margin-top: -80px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
@media(max-width: 390px){
    .summarydiv{
        flex-direction: row;
        align-items: center;
        height: auto;

    }
}
.summarydiv p {
  color: rgba(98, 4, 71, 0.795);
  font-size: 15px;
  text-align: center;
  
}

.maindiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
